<!--title>Login Form</title>


<div>
    <div class="loginform">
        <div class="login-left">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <h2>Login</h2>
                <div class="inputs">
                    <img src="./assets/image/user.ico" alt="" class="icon icon-user">
                    <input type="email" matInput placeholder="Email" formControlName="email" name="email">
                </div>
                <div class="inputs">
                    <img src="./assets/image/password.ico" alt="" class="icon icon-password">
                    <input type="password" placeholder="Password" matInput  formControlName="password" name="password"
                    [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"[attr.aria-pressed]="hide">
                        <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>

                <button class="btn" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login Now</button>

            </form>

            <h3> <a href="" style="padding-left: 8px;" color="warn" routerLink="../forgot-password">Reset Password</a></h3>
           
        </div>
        <div class="login-right">
            <div class="glass-right">
                <img src="./assets/image/contact1.jpg" alt="">
            </div>
        </div>

       
        
    </div>
</div-->
<img class="wave" src="./assets/image/wave.png">
<div class="container">
    <div class="img">
        <img src="./assets/image/bg.svg">
    </div>
    <div class="login-content">
        <form form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <img src="./assets/image/avatar.svg">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <!--i class="fas fa-user"></i-->
                    <mat-icon class="ico">email</mat-icon>
                </div>
                <div class="div">

                    <input type="email" matInput formControlName="email" name="email" class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <!--i class="fas fa-lock"></i-->
                    <mat-icon class="ico">lock_open</mat-icon>
                </div>
                <div class="div">


                    <input type="password" matInput formControlName="password" name="password" class="input"
                        [type]="hide ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>

            </div>

            <a href="#">Forgot Password?</a>
            <input type="submit" class="btn" value="Login" class="btn" mat-raised-button color="primary"
                [disabled]="!loginForm.valid">
        </form>
    </div>
