<!--title>Login Form</title>


<div>
    <div class="loginform">
        <div class="login-left">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <h2>Login</h2>
                <div class="inputs">
                    <img src="./assets/image/user.ico" alt="" class="icon icon-user">
                    <input type="email" matInput placeholder="Email" formControlName="email" name="email">
                </div>
                <div class="inputs">
                    <img src="./assets/image/password.ico" alt="" class="icon icon-password">
                    <input type="password" placeholder="Password" matInput  formControlName="password" name="password"
                    [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"[attr.aria-pressed]="hide">
                        <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>

                <button class="btn" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login Now</button>

            </form>

            <h3> <a href="" style="padding-left: 8px;" color="warn" routerLink="../forgot-password">Reset Password</a></h3>
           
        </div>
        <div class="login-right">
            <div class="glass-right">
                <img src="./assets/image/contact1.jpg" alt="">
            </div>
        </div>

       
        
    </div>
</div-->


<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">

                <!-------------      image     ------------->

                <img class="imgright" src="./assets/image/pexels-dominika-roseclay-905163.jpg" width="500px"
                    height="200px" alt="">
                <div class="text">
                    <p>Join platform <br><i>- Acomerco -</i></p>
                </div>

            </div>
            <div class="col-md-6 right">


                <div class="input-box">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="blokim">
                            <img style=" display: flex;justify-content: center;align-items: center;position: relative;"
                                src="./assets/image/logo_icon.png" width="50" height="50px">
                                <br>
                            <header>S'authentifier</header>
                        </div>
                        <div class="input-field">

                            <input class="input" id="email" required="" autocomplete="on" type="email" matInput
                                formControlName="email" name="email">

                            <label for="email">Adress mail: </label>

                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="pass" required="" input matInput
                                formControlName="password" name="password" [type]="hide ? 'password' : 'text'">
                            <label for="pass">Mot de pass :</label>

                        </div>
                        <div class="input-field">

                            <input type="submit" class="submit" value="Connecter" mat-raised-button color="primary"
                                [disabled]="!loginForm.valid">
                        </div>
                    </form>
                    <div class="signin">
                        <span>Oublier mot de pass? <a href="#" style="padding-left: 8px;" color="warn"
                                routerLink="../forgot-password">Click ici ...</a></span>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>