<div class="header">

    <div class="blokim">
        <img style=" display: flex;justify-content: center;align-items: center;position: relative;"
            src="./assets/image/logo_icon.png" width="30" height="30px">
        <h2>ACOMERCO</h2>
    </div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>Homenpm i</mat-icon>
        </button>
      </mat-toolbar>
</div>